<%= render "shared/header" %>

<div class='profile'>
<div class="profile-flex">
    <%= image_tag 'my.jpg' , size: '185x50' ,class: "my_img" %>
  <ul class = 'profile-ul'>
  
    <li class = 'profile-li'>name : 渡辺凌一</li>
    <li class = 'profile-li'>email: 0305watanabe@gmail.com</li>
    <li class = 'profile-li'>ひとこと<br>2020年７月に退職。<br>興味のあったプログラミングを勉強中！！<br>琵琶湖のバスフィッシングがもっと盛り上がればいいと思い制作しました。</li>
    </div>
    
  </ul>
</div>


<%= render "shared/footer" %>