* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #41d0ff;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  /* display: flex; */
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}


.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.nav ul {
  margin-left: auto;
}

.nav ul li a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 10px 40px;
  font-size: 15px;
  border-radius: 100px;
  font-weight: bold;
  /* margin-left:10px ; */
}

.nav ul li a:hover {
  background: transparent;
  background-color: #1bbef5;
  ;
  color: white;
  transition: 0.4s;
}

.rogo {
  display: flex;
}

.rogo_biwako {
  width: 70px;
  height: 100px;
  color: white;
  font-size: 30px;
  margin-top: 10px;
}


.side {
  width: 520px;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 35px;
  margin-left: 20px;
  color: white;
  font-weight: bold;
}


@media (min-width: 300px) {
  body {
    /* background-color: aqua; */
  }
  .nav ul li a {
    color: white;
    background-color: #81e0ff;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 100px;
    font-weight: bold;
    /* margin-left:10px ; */
    margin-bottom: 10px;
  }

  .side { 
    width: 520px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 35px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
  }

  .lists-right {
    /* display: flex; */
    list-style: none;
    align-items: flex-end;
  }

  .lists-right li{ 
    margin-bottom: 5px;
  }
  .side { 
    width: 157px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 35px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
  }

  .rogo_biwako {
    width: 50px;
    height: 70px;
    color: white;
    font-size: 30px;
    margin-top: 10px;
  }

  .search-bar-contents {
    justify-content: space-between;
    align-items: center;
  }
}




@media (min-width: 825px) {
  
  .side {
    width: 380px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 35px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
  }

  .lists-right {
    display: flex;
    list-style: none;
    align-items: flex-end;
  }
  

  .nav ul li a {
    color: white;
    background-color: #81e0ff;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 100px;
    font-weight: bold;
    /* margin-left:10px ; */
  }




}
@media (min-width: 1000px) {
  
  .side {
    width: 520px;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 35px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
  }

  .lists-right {
    display: flex;
    list-style: none;
    align-items: flex-end;
  }

  .nav ul li a {
    color: white;
    background-color: #81e0ff;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 100px;
    font-weight: bold;
    /* margin-left:10px ; */
  }
}