.purchase-btn {
  color: yellow;
  width: 70px;
  background: #41d0ff;;
  text-align: center;
  border-radius: 5%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 5px;
}



.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
  font-weight: bold;
}

.purchase-btn-icon {
  width: 60%;
}


@media (min-width: 600px) {

.purchase-btn {
  width: 100px;
  background: #41d0ff;;
  text-align: center;
  border-radius: 5%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 10px 0px;
}
}