a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.how_to_use{
  width: 100%;
background-color: #41d0ff;;
}


/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  // background-image: image-url('furima-header01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  // display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3vh 8vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.feature-contents {
  position: relative;
}

.hamaootu-img {
  position: absolute;
  /*絶対配置*/
  color: black;
  /*文字は白に*/
  top: 28%;
  left: 58%;
  width: 15%;
  height: 13%;
}

.card-visa-img {
  position: absolute;
  /*絶対配置*/
  color: black;
  /*文字は白に*/
  top: 74%;
  left: 27%;
  width: 15%;
  height: 13%;
}

.title-contents {
  position: absolute;
  /*絶対配置*/
  color: black;
  /*文字は白に*/
  top: 18%;
  left: 3%;
}

fieldset,
img {
  // width: 90px;

  border: 0;
}

header {
  background-color: #41d0ff;;
}

.title {
  font-size: 6vh;
  color: white;
  font-weight: bold;
}

.service-title {
  font-size: 4.5vh;
  position: absolute;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* FURIMAが選ばれる3つの理由部分 */
.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #41d0ff;;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 70%;
  margin: 0 260px;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #41d0ff;;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAが選ばれる3つの理由部分 */

/* 画面中央の「会員数日本一位」帯部分*/
.ad-contents {
  width: 100vw;
  background-image: image-url("furima-header02.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面中央の「会員数日本一位」帯部分 */

/* FURIMAの特徴 */
.feature-contents {
  padding: 5vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #41d0ff;;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */

/* 商品一覧 */

.item-contents {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  padding-bottom: 0;
}

.item-contents>.title {
  color: #41d0ff;;
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #41d0ff;;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #fff;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #fff;
  font-size: 45px;
  font: bold;
}

.item-info {
  background-color: #fff;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
  
}

.star-count {
  font-size: 2vh;
  color: #217aff;
}

/* //商品一覧 */

.good-icon {
  width: 70px;
  margin-right: 20px;
}
.good-icon2 {
  width: 70px;
  margin-left:100px;
}
.good-icon3 {
  width: 70px;
  margin-left:10px;
  margin-right:10px;
  margin-top:5px;
}

.purchase-btn-icon {
  width: 80%;
  height: 0%;
}

.main_2 {
  display: flex;
}

.said_nav {
  // background-color: #a4e6fa40;
  width: 20vw;
  height: 100vh;
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 30px;
}

.said_nav ul {
  margin: 0px 0 0px 30px;
  width: 200%;
  height: 100vh;
  align-items: center;
}

.said_nav ul li {
  margin: 30px 0 0px 30px;
}

.said_nav ul li a {
  border: solid 3px #72d7f8;
  color: #41d0ff;;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 22px;
  border-radius: 100px;
  font-weight: bold;
}

.said_nav ul li a:hover {
  background: transparent;
  background-color: #72d7f8;
  color: white;
  transition: 0.4s;
}

.s {
  font-size: 30px;
  margin-left: 20px;
  border: solid 3px #72d7f8;
  color: #41d0ff;;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 22px;
  border-radius: 100px;
  font-weight: bold;
}

.s ul li a:hover {
  background: transparent;
  background-color: #72d7f8;
  color: white;
  transition: 0.4s;
}

.item-contents>.title2 {
  color: #41d0ff;;
  font-size: 5vh;
  line-height: 1.4;
  width: auto;
  font-weight: bold;
}

// 場所

.nannko {
  position: absolute;
  /*絶対配置*/
  top: 80%;
  left: 28%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.nannko a {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 20px 70px;
  font-size: 22px;
  border-radius: 100px;
}

.nannko a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.hokko {
  position: absolute;
  /*絶対配置*/
  top: 33%;
  left: 60%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.hokko a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 20px 70px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.hokko a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.hamaotu {
  position: absolute;
  /*絶対配置*/
  top: 74%;
  left: 27%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.hamaotu a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.hamaotu a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.katata {
  position: absolute;
  /*絶対配置*/
  top: 26%;
  left: 46%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.katata a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.katata a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.yabasi {
  position: absolute;
  /*絶対配置*/
  top: 74%;
  left: 47%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.yabasi a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.yabasi a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.seta {
  position: absolute;
  /*絶対配置*/
  top: 93%;
  left: 40%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.seta a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.seta a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.kihama {
  position: absolute;
  /*絶対配置*/
  top: 33%;
  left: 55%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.kihama a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.kihama a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.karasaki {
  position: absolute;
  /*絶対配置*/
  top: 42%;
  left: 36%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.karasaki a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.karasaki a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

// 北湖


.okinosima {
  position: absolute;
  /*絶対配置*/
  top: 66%;
  left: 48%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.okinosima a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.okinosima a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.takasima {
  position: absolute;
  /*絶対配置*/
  top: 45%;
  left: 48%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.takasima a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.takasima a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.hikone {
  position: absolute;
  /*絶対配置*/
  top: 56%;
  left: 67%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.hikone a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.hikone a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.oomimaiko {
  position: absolute;
  /*絶対配置*/
  top: 66%;
  left: 31%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.oomimaiko a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.oomimaiko a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.nagahama {
  position: absolute;
  /*絶対配置*/
  top: 28%;
  left: 68%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.nagahama a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.nagahama a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.okubiwako {
  position: absolute;
  /*絶対配置*/
  top: 12%;
  left: 54%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.okubiwako a {
  color: white;
  background-color: #81e0ff;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 22px;
  border-radius: 100px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.okubiwako a:hover {
  background: transparent;
  background-color: #1bbef5;
  color: white;
  transition: 0.4s;
}

.rank{
  // display: flex;
  // background-color: #a4e6fa40;
//   width: 20vw;
//   height: 100vh;
//   margin-left: 20px;
//   margin-top: 40px;
//   border-radius: 30px;
}

.rank ul {
  display: flex;
  // margin: 0px 0 0px 30px;
  // width: 200%;
  // height: 100vh;
  // align-items: center;
}

.rank ul li {
  margin: 30px 0 0px 30px;
}

.rank ul li a {
  border: solid 3px #72d7f8;
  color: #41d0ff;;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 32px;
  border-radius: 100px;
  font-weight: bold;
}

.rank ul li a:hover {
  background: transparent;
  background-color: #72d7f8;
  color: white;
  transition: 0.4s;  
}

body{
  font-size: 14px;

}

#open{
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin-top: 60px;
  padding: 2vh 10vw;
  border-radius: 100px;
}

#close{
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  font-size: 24px;
  color: black;
  text-align: center;
  border-radius: 100px;
}
#close a {
  border: solid 3px #72d7f8;
  color: #41d0ff;;
  font-weight: bold;
  text-decoration: none;
  padding:10px;
  font-size: 23px;
  border-radius: 100px;
  font-weight: bold;
}

#close a:hover {
  background: transparent;
  background-color: #72d7f8;
  color: white;
  transition: 0.4s;  
}
  
#mask{
background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}


#modal{
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 2000px;
  transition: transform 0.4s;
  right: 0;
  left: 0;
  margin: 0 auto;
  
}
#modal > p{
  margin: 0 0 20px;
  text-align: center;
  font-size: 16px;
}

#mask.hidden{
  display: none;
}

#modal.hidden{
  transform:translate(0,-3000px) ;
}


li{
  list-style: none;
  padding: 20px;
}
.heading {
  width: 50%;
  margin-left: 30px;
}
.navbar {
  width: 50%;
}
.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}



// JSリスト


.show-lists{
  width: 200px;
  position: absolute;
  right: 370px;
  top: 30%;
  left: 1%;
}
.background-nannko{
  border: solid 3px #72d7f8;
  color: #41d0ff;;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
  font-size: 23px;
  border-radius: 100px;
  font-weight: bold;
  width: 150px;
  text-align: center;
  left: -160px;
  top: 60px;
  position: absolute;
  user-select: none;
}
.background-hokko{
  border: solid 3px #72d7f8;
  color: #41d0ff;;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
  font-size: 23px;
  border-radius: 100px;
  font-weight: bold;
  width: 150px;
  text-align: center;
  left: -178px;
  top: 60px;
  position: absolute;
  user-select: none;
}
.pull-down-list{
  padding: 15px 35px 15px 15px;
  border: 1px solid #eee;
}
.contents{
  height: 100vh;
  background-color: #f0f0f0;
}
.list-status{
  width: 230px;
}

.hidden{
  display: none;
}