.item-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 5vh 0; */
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.item-top-btn {
  text-align: center;
  background-color: #41d0ff;
  border-radius: 100px;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 1vh 6vw;
}

.item-top-btn-show {
  text-align: center;
  background-color: #41d0ff;
  border-radius: 100px;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 1vh 6vw;
}

.item-top-btn-nannko {
  text-align: center;
  background-color: #41d0ff;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 1vh 4vw;
}

.bottom_btn_nannko {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.or-text {
  font-size: 20px;
}

.item-destroy {

  background-color: lightgray;
  text-align: center;
  /* font-size: 20px; */
  color: black;
  margin-top: 60px;
  padding: 2vh 10vw;
  border-radius: 100px;
}

.detail-table {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  color: #fff;
  background-color: #41d0ff;;
  border: 1px solid #217aff;
  font-size: 14px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #217aff;
  font-size: 14px;
}

.favorite-btn {
  border-radius: 40px;
  width: 170px;
  color: #217aff;
  border: 1px solid #217aff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-box {
  width: 40vw;
  /* background-color: #81e0ff; */
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 98%;
  margin: 50px 0 0 0;
  /* height: 100px; */
  /* padding: 10px; */
  border: 2px solid #217aff;
  resize: none;
  border-top-style: none;
  border-left-style: none;
  border-right: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  align-items: center;
  line-height: 36px;
  background-color: #41d0ff;;
  border: 2px solid #fff;
  color: #fff;
  /* width: 50%; */
  margin-top: 30px;
  min-width: 150px;
  font-size: 13px;
  border-radius: 100px;
  margin-bottom: 2vh;
  font-weight: bold;
  -webkit-appearance: none;
}

.login_comment {
  background-color: #f7f4f4;
  color: #f15416;
}

.comment {
  width: 70vw;
  margin: 0, auto;
  padding: 15px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  /* background: #81e0ff; */
}


.nickname {
  font-size: 20px;
  font-weight: bold;
  /* color: #217aff; */
}

.comment-date {
  /* position: absolute; */
  margin-left: 15px;
  font-size: 8px;
}

.destroy {
  color: white;
  /* width: px; */
  height: 30px;
  margin-left: 10px;
  border-radius: 3px;
  /* position: absolute; */
}

.destroy a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding: 8px;
}


.bottom_btn {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
  background-color: #fff;
}

.destroy-img {
  width: 20px;
  margin-top: 6px;

}

.favorite-star-icon {
  width: 90px;
  height: auto;
  margin-right: 20px;
  margin: 10px 10px 5px 10px;
}


.list-pict{
  width: 80%;
}


@media screen and (min-width:0px) and ( max-width:599px){
  .item-box {
    background-color: #FFF;
    width: 360px;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comment-box {
    width: 360px;
    margin: 5vh 0;
    text-align: center;
  }

  .item-top-btn-nannko {
    text-align: center;
    background-color: #41d0ff;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    margin: 20px 0px;
    padding: 0vh 2vw;
    margin:20px 0 10px 0 ;
  }





  .item-box {
    background-color: #FFF;
    width: 70vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

.nickname {
    font-size: 15px;
    font-weight: bold;
}
  
.comment-content {
  margin-left: 20px;
  color: black;
  text-align: left;
  font-size: 17px;
}

  .comment-box {
    width: 70%;
    margin: 5vh 0;
    text-align: center;
  }

  



  .item-box-img {
    /* height: 70vh; */
    width: 100%;
    /* min-height: 605px; */
    object-fit: contain;
    margin-top: 20px;
}

}

@media (min-width: 600px) {

  .item-box-img {
    height: 50vh;
    width: 60vw;
    min-height: 605px;
    object-fit: contain;
    margin-top: 30px;
  }

  .item-box {
    background-color: #FFF;
    width: 50%;
    /* min-width: 1200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom_btn_nannko {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
  }
  
}