.item-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 5vh 0; */
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  /* min-width: 1200px; */
  padding: 3vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 605px;
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.item-top-btn {
  text-align: center;
  background-color: #41d0ff;
  border-radius: 100px;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-top-btn-show {
  text-align: center;
  background-color: #41d0ff;
  border-radius: 100px;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 1vh 4vw;
}

.item-top-btn-nannko {
  text-align: center;
  background-color: #41d0ff;
  border-radius: 100px;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 1vh 4vw;
}

.bottom_btn_nannko {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.or-text {
  font-size: 20px;
}

.item-destroy {

  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin-top: 60px;
  padding: 2vh 10vw;
  border-radius: 100px;
}

.detail-table {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  color: #fff;
  background-color: #41d0ff;;
  border: 1px solid #217aff;
  font-size: 14px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #217aff;
  font-size: 14px;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: #217aff;
  border: 1px solid #217aff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  margin-right: 20px;
}

.comment-box {
  width: 40vw;
  background-color: #81e0ff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 2px solid #217aff;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  align-items: center;
  line-height: 48px;
  background-color: #41d0ff;;
  border: 2px solid #fff;
  color: #fff;
  width: 50%;
  margin-top: 30px;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.login_comment {
  background-color: #f7f4f4;
  color: #f15416;
}

.comment {
  width: 40vw;
  margin: 0, auto;
  padding: 15px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  background: #81e0ff;
  ;

}

.comment-content {
  margin-left: 20px;
  color: #217aff;
  text-align: left;
  font-size: 20px;
  /* margin-bottom:10px */
}

.nickname {
  font-size: 20px;
  font-weight: bold;
  /* color: #217aff; */
}

.comment-date {
  /* position: absolute; */
  margin-left: 15px;
  font-size: 8px;
}

.destroy {
  color: white;
  /* width: px; */
  height: 30px;
  margin-left: 10px;
  border-radius: 3px;
  /* position: absolute; */
}

.destroy a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding: 8px;
}


.bottom_btn {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.destroy-img {
  width: 20px;
  margin-top: 6px;

}

.favorite-star-icon {
  width: 90px;
  height: auto;
  margin-right: 20px;
  margin: 10px 10px;
}


.list-pict{
  width: 80%;
}