.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

/* .login-red-btn {
  width: 100%;
  background-color: #41d0ff;
  border: 1px solid #41d0ff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  padding: 6px 70px;
  font-size: 16px;
  border-radius: 100px;
  font-weight: bolder;
}


.login-red-btn:hover {
  background: transparent;
  background-color:  #1cb3e6;
  color: white;
  transition: 0.4s;
} */

.login-red-btn{
  height: 50px;
  width: 300px;
  margin: 5px 15px;
  border: none;
  border-radius: 30px;
  background-color: #cb2f27;
  color: #FFFF;
  font-weight: 600;
}

.login-red-btn:hover{
  height: 50px;
  width: 300px;
  margin: 0 15px;
  border: none;
  border-radius: 30px;
  background-color: #dd7069;
  color: #FFFF;
}

.login-flash-message {
  text-align: center;
  color: red;
}
